#root {
  width: min(1000px, 100%);
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-layout {
  display: block;
}

.main-layout.details-open {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.main-layout .left {
  width: 100%;
}

.main-layout.details-open .left {
  flex: 0 0 70%;
}

.main-layout.details-open .right {
  flex: 0 0 30%;
}
